@mixin flex($justify: center, $direction: row, $align: center) {
  display: flex;
  justify-content: $justify;
  flex-direction: $direction;
  align-items: $align;
}

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin grid($num: 2) {
  display: grid;
  grid-template-columns: repeat($num, 1fr);
}