div.container {
  background-color: var(--bg-color);
  width: 100vw;
  height: 100vh;
  color: var(--text-color);
  //min-height: 100vh;
  //border: 2px solid blue;
  //display: flex;
  //justify-content: center;
  //align-items: center;
}